
<!-- ***Questions Page***  where user passes through the survey questions.
                    . -->

{% extends 'base.html' %}
{% block title %}
    Survey Questions
{% endblock %}

{% block content %}
<h3>{{ survey['title'] }} </h3>
<p><i>Question {{number}}:</i></p>
 <!-- Present the survey question -->
<p>{{ survey['questions'][number-1]['question'] }}</p>
<!-- Display the answer options -->
<form action="/answers/{{number}}" method="post" name="question{{number}}">
    <!-- Loop through the answer options in Jinja -->
    {% for options in survey['questions'][number-1]['choices'] %}
      <label>
      <input type="radio" name="answer" value="{{ survey['questions'][number-1]['choices'][loop.index - 1] }}"> {{ survey['questions'][number-1]['choices'][loop.index -1] }}
      </label>
    {% endfor %}
    <!-- If there is an option to add text, present a textarea -->
    {% if survey['questions'][number-1]['allow_text'] == True %}
    <br><br>
    <label for="comment">Comment:</label><br>
    <textarea id="comment" name="comment" rows="5" cols="30"></textarea>
    {% endif %}
    <br><br>
    <button type="submit">Continue</button>
    <!-- User moves on to /questions/NEXT_QUESTION_NUMBER -->
</form>
{% endblock %}