{% extends 'base.html' %}
{% block title %}
    Thank you
{% endblock %}

{% block content %}
<p>Thank you for completing this survey.</p>
<p>Completed Surveys:</p>
<!-- Loops through the surveys completed, and the questions,
and the answers provided by the user. -->
<ul>
{% for survey_name, q_and_a in session.items() %} 
<h3> {{survey_name}} </h3>
    {% if q_and_a %}
    <p>
        {% for entry in q_and_a %} 
            {{ entry }} 
            <br>
        {% endfor %}
    </p>
    {% endif %}
    <!-- Option to delete from the flask cookie the survey's questions and answers -->
    <form action='/delete_cookie/{{name}}'><button>Delete Cookie</button></form>
    <hr>
{% endfor %}
<br><br>
<a href="/home">Return to home page</a>
{% endblock %}