{% extends 'base.html' %}
{% block title %}
    Thank you
{% endblock %}

{% block content %}
<h1>Thank you for completing this survey.</h1>
<p>Completed Surveys:</p>

<ul>
{% for survey_name, q_and_a in session.items() %} 
<h3> {{survey_name}} </h3>
    {% if q_and_a %}
    <p>
        {% for entry in q_and_a %} 
            {{ entry }} 
            <br>
        {% endfor %}
    </p>
    {% endif %}
    <form action='/delete_cookie/{{name}}'><button>Delete Cookie</button></form>
    <hr>
{% endfor %}
</object>
<ul> 
    <!-- QUESTIONS -->

</ol> 

<br>

<br>
<a href="/home">Return to home page</a>
{% endblock %}